@mixin glowing-white {
  animation: glow-white 1s ease-in-out infinite alternate;
}

@keyframes glow-white {
  from {
    box-shadow: 0 0 10px rgba($light, 0.5), 0 0 15px rgba($light, 0.5),
      0 0 20px rgba($light, 0.5);
  }
  to {
    box-shadow: 0 0 15px rgba($light, 0.5), 0 0 20px rgba($light, 0.5);
  }
}
