{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <link
      rel="shortcut icon"
      href="{% static 'images/postado-logo.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Postado</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo" id="logo" data-url="{% url 'landing' %}">
        <img src="{% static 'images/postado-logo.png' %}" alt="logo" />
      </div>
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <a href="{% url 'feed' %}" class="nav-item titles" data-help="FEED"
          ><img src="{% static 'images/icons/feed.png' %}" alt="" id="nav-img"
        /></a>
        <a href="{% url 'create' %}" class="nav-item titles" data-help="CREATE"
          ><img
            src="{% static 'images/icons/create.png' %}"
            alt=""
            id="nav-img"
        /></a>
        <a href="{% url 'explore' %}" class="nav-item titles" data-help="EXPLORE"
          ><img
            src="{% static 'images/icons/explore.png' %}"
            alt=""
            id="nav-img"
        /></a>
        <a href="#" class="nav-item titles" data-help="MESSAGES"
          ><img
            src="{% static 'images/icons/message.png' %}"
            alt=""
            id="nav-img"
        /></a>
        <a
          href="{% url 'profile' user.username %}"
          class="nav-item titles"
          data-help="PROFILE"
        >
          {% for i in user.user_profile.all %}
          <img
            src="{{ i.avatar.url }}"
            alt=""
            id="nav-img"
            class="nav-profile"
          />
          {% endfor %}</a
        >
        <a href="{% url 'logout' %}" class="nav-item titles" data-help="LOGOUT"
          ><img
            src="{% static 'images/icons/logout.png' %}"
            alt=""
            id="nav-img"
        /></a>
        {% else %}
        <a href="{% url 'login' %}" class="nav-item titles">Login</a>
        <a href="{% url 'register' %}" class="nav-item titles">Register</a>
        {% endif %}
      </div>
    </nav>

    {% include './alert.html' %}{% block content %} {% endblock content %}

    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
