{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Postado</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo"></div>
      <div class="nav-log-inout">
        <a href="{% url 'login' %}" class="nav-items nav-login">Login</a>
        <a href="" class="nav-items nav-register">Register</a>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock content %}</div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
