{% extends "base.html" %} {% load static %}{% block content %}
<div id="dimmer"></div>
<div class="container">

    <div class="form-container">
        <form class="" role="form" method="POST" id>
            {% csrf_token %}
            <input type="text" id="selected_tag" name="selected_tag">
            <input type="submit" value="search">
        </form>

    </div>

  <div class="feed">
    {% for post in posts %}
    <div class="post">
      <div class="post-image-container">
        {% if post.photo %}
        <img class="post-image" src="{{ post.photo.url }}" alt="image" />
        {% else %}
        <p class="texts">Loading...</p>
        {% endif %}
      </div>
      {% for i in post.user.user_profile.all %}
      <img
        class="post-person-image"
        src="{{ i.avatar.url }}"
        alt="user_pp"
      />
      {% endfor %}
      <div class="post-ctx">
        <h1 class="texts post-username">{{ post.user.username }}</h1>
        <h2 class="texts post-title">{{ post.title }}</h2>
        <p class="texts post-content">{{ post.content }}</p>
      </div>
      <p class="texts post-date">{{ post.updated_date }}</p>
      <div class="interactions">
        <p class="texts post-like interact-container">
          <a href="{% url 'like' post.id %}">
            <img
              src="{% static 'images/icons/like.png' %}"
              alt="like-icon" /></a
          ><a href=""><b class="like-count">{{ post.likes_count }}</b></a>
        </p>
        <p class="texts post-comment interact-container">
          <a href="{% url 'comments' post.id %}">
            <img
              src="{% static 'images/icons/comment.png' %}"
              alt="comment-icon" /></a
          ><b class="comment-count">{{ post.comments_count }}</b>
        </p>
        <p class="texts post-share interact-container">
          <img src="{% static 'images/icons/share.png' %}" alt="share-icon" />
        </p>
          {% for tag in post.tags.all %}
          <p>{{tag}}</p>
          {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
