{% extends 'base.html' %} {% load static %} {% block content %}
<div id="dimmer"></div>
<div class="profile">
  <div class="p-properties">
    <img class="avatar" src="{{ profile.avatar.url }}" alt="avatar" />
    <h1 class="titles username">{{ profile.user.username }}</h1>
    <p class="titles bio">{{ profile.bio }}</p>
    <p class="titles p-i-text">Posts
      <b>{{ posts|length }}</b></p>
    <p class="titles p-i-text p-ff" id="open-followings">Followings 
      <b>{{ followings|length }}</b></p>
    <p class="titles p-i-text p-ff" id="open-followers">Followers 
      <b>{{ followers|length }}</b></p>
    {% if user != profile.user %}
    <button class="p-btn texts">Message</button>
    {% else %}
    <button class="p-btn texts" onclick=window.location.href=`{% url 'update_profile' %}`>Edit</button>
    {% endif %}
    {% if user == profile.user %} {% elif not is_following %}
    <button class="p-btn texts" id="follow" onclick=window.location.href=`{% url 'follow' profile.user.username %}`>Follow</button>
    {% else %}
    <button class="p-btn texts" id="unfollow" onclick=window.location.href=`{% url 'follow' profile.user.username %}`>Unfollow</button>
    {% endif %}
  </div>
</div>

<div class="popup-f popup-unactive" id="following-popup">
  <p class="popup-close texts">Close</p>
  {% if followings|length == 0 %}
  <p class="texts">There are no following person</p>
  {% endif %}
  {% for u in followings %}
  <div class="card">
    <p class="texts">{{ u }}</p>
    {% for i in u.following_user_id.user_profile.all %}
    <img src="{{ i.avatar.url }}" alt="f_avatar" id="ff-user" data-purl="{% url 'profile' i.user.username %}">
    {% endfor %}
  </div>
  {% endfor %}
</div>

<div class="popup-f popup-unactive" id="follower-popup">
  <p class="popup-close texts">Close</p>
  {% if followings|length == 0 %}
  <p class="texts">There are no follower person</p>
  {% endif %}
  {% for u in followers %}
  <div class="card">
    {% for i in u.user_id.user_profile.all %}
    <img src="{{ i.avatar.url }}" alt="f_avatar" id="ff-user" data-purl="{% url 'profile' i.user.username %}">
    {% endfor %}
    <p class="texts">{{ u }}</p>
  </div>
  {% endfor %}
</div>

<div class="profile-posts">
  <div class="container">
    <div class="feed p-feed-container">
      {% for post in posts %}
      <div class="post">
        {% if post.user == user %}
        <button class="post-delete" onclick="deleteEnsure(this)">Delete</button>
        {% endif %}
        <div class="post-image-container">
          {% if post.photo %}
          <img class="post-image" src="{{ post.photo.url }}" alt="image" />
          {% else %}
          <p class="texts">Loading...</p>
          {% endif %}
        </div>
        <img
          class="post-person-image"
          src="{{ profile.avatar.url }}"
          alt="user_pp"
        />
        <div class="post-ctx">
          <h1 class="texts post-username">{{ post.user.username }}</h1>
          <h2 class="texts post-title">{{ post.title }}</h2>
          <p class="texts post-content">{{ post.content }}</p>
        </div>
        <p class="texts post-date">{{ post.updated_date }}</p>
        <div class="interactions">
          <p class="texts post-like interact-container">
            <a href="{% url 'like' post.id %}">
              <img
                src="{% static 'images/icons/like.png' %}"
                alt="like-icon" /></a
            ><a href=""><b class="like-count">{{ post.likes_count }}</b></a>
          </p>
          <p class="texts post-comment interact-container">
            <a href="{% url 'comments' post.id %}">
              <img
                src="{% static 'images/icons/comment.png' %}"
                alt="comment-icon" /></a
            ><b class="comment-count">{{ post.comments_count }}</b>
          </p>
          <p class="texts post-share interact-container">
            <img src="{% static 'images/icons/share.png' %}" alt="share-icon" />
          </p>
        </div>
        <div class="delete-ensure">
          <h1 class="titles">Are you sure you want to delete this post?</h1>
          <button
            class="ensure-yes texts"
            onclick="window.location.href"
            ="{% url 'delete' post.id %}"
          >
            Yes
          </button>
          <button class="ensure-cancel texts" onclick="closeEnsure(this)">
            Cancel
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
